@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customers</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in @Model)
    {
        <tr>
            <td>@customer.Name</td>
        </tr>
    }
    </tbody>
</table>